body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-primary {
  background-color: transparent;
  border-color: transparent;
}

.btn-primary i {
  color: blue;
}

.border{
  width: 350px;
}

.length {
  width: 150px;
}


@media screen and (max-width: 500px) {
  .border {
    width: 200px;
  }
}

